.header{
    background-color: teal;
    padding: 15px;
    text-align: center;
    }
    
    .text-heading{
    color: white;
    
    }
    
    .nav_menu {
    overflow: hidden;
    background-color: ab;
    }
    
    .nav_menu a{
    float: left;
    display: block;
    color: teal;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    .nav_menu a:hover{
    background-color: gray;
    color: teal;
    }
    
    
    .columnA, .columnC{
    float: none;
    width: 50%;
    padding: 15px;
    text-align: match-parent;
    background-color: white;
    }
    
    .columnB{
    float: left;
    width: 50%;
    padding: 15px;
    text-align: left;
    background-color: white;
    }
    
    .footer{
    padding: 15px;
    text-align: center;
    overflow: hidden;
    background-color: teal;
    clear: left;
    }
    .footer a{
    display: inline;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    }
    .footer a:hover{
    background-color: gray;
    color: white;
    }







    /* TAKE NOTE: THIS IS FOR THE BLOG.HTML*/


    * {
        max-width: 700px;
        margin: auto;
      }
      
      
      /*body {
          min-width: 500px;
      }*/
      
      div {
        border-radius: 5px;
      }
      
      #header {
        height: 40px;
        width: 100%;
        background-color: teal;
        position: fixed;
        z-index: 1;
      }
      
      #title {
        margin-left: 3%;
      }
      
      #footer {
        height: 50px;
        width: 100%;
        background-color: teal;
        clear: both;
        position: relative;
      }
      
      .left {
        height: 1000px;
        width: 45px;
        background-color: #e0eeee;
        float: left;
        position: fixed;
      }
      
      .right {
        height: 1000px;
        width: 45px;
        background-color: #e0eeee;
        float: right;
        position: inherit;
      }
      
      .stuff {
        display: inline-block;
        margin-top: 6px;
        margin-left: 55px;
        width: 75%;
        height: 1000px;
      }
      
      p,
      li {
        font-family: 'Cormorant Garamond';
      }
      
      .head {
        font-size: 20px;
      }
      
      #name {
        font-family: Sacramento;
        float: right;
        margin-top: 10px;
        margin-right: 4%;
      }
      
      a {
        color: black;
        text-decoration: none;
      }
      
      @media only screen and (max-width: 430px) {
        .left,
        .right {
          display: none;
        }
        .stuff {
          width: 100%;
          margin-left: 10px;
        }
      }



      * {
        margin: 0;
        padding: 0;
      }
      
      h2,
      p,
      a {
        font-family: 'roboto', sans-serif;
      }
      
      a {
        text-decoration: none;
      }
      
      .blog-posts-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      
      .post-link {
        margin: 20px 20px 20px 20px;
      }
      
      .post-wrap {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 400px;
        background-color: #fff;
        box-shadow: 0px 2px 20px rgba(0,0,0,.25);
        transition: all .25s;
        top: 0;
        border-radius: 10px;
        overflow: hidden;
      }
      
      .post-wrap:hover {
        top: 2px;
        box-shadow: 0px 0px 10px rgba(0,0,0,.25);
      }
      
      .post-image {
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      
      .post-body {
        width: 300px;
        padding: 10px;
        margin: 0 auto;
      }
      
      .post-body-primary {
        margin: 40px 0 40px 0;
      }
      
      .post-meta {
        color: #7B7B7B;
      }
      
      .post-meta b {
        font-weight: 500;
      }
      
      .post-title {
        color: #444;
        font-size: 20px;
        padding: 5px 0 10px 0;
      }
      
      .post-text {
        color: #7B7B7B;
      }
      
      .post-body-secondary {
        border-top: 1px solid #ECECEC;
      }
      
      .post-category {
        color: #7B7B7B;
        padding: 15px 0 10px 0;
      }
      
      /* Button Styling */
      .button-wrap {
        display: flex;
        justify-content: center;
        margin: 20px 0 20px 0;
      }
      
      .button {
        position: relative;
        background-color: #3089DB;
        padding: 20px 60px 20px 60px;
        box-shadow: 0px 6px 20px rgba(48,137,219,.60);
        transition: all .25s;
        top: 0;  
        border-radius: 10px;
        
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      
      .button:hover {
        border-radius: 10px;
        box-shadow: 0px 2px 10px rgba(48,137,219,.60);
        top: 2px;
      }


      
